.cal-menu-wrapper {
    position: relative;
    max-width: 100%;
    height: 14vh;
    /*margin: 1em auto;
    border: 1px solid black;*/
    overflow-x: auto;
    overflow-y: auto;
    cursor: pointer;
}

.cal-menu {
    height: 14vh;
    /*background: #f3f3f3;*/
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.cal-item {
    margin: 2px;
    display: inline-block;
    width: 100px;
    height: 13vh;
    /*padding: 10px;*/
    box-sizing: border-box;
    border: 2px solid #d7d7d780;
    border-radius: 10px;
}

.cal-paddles { }

.cal-paddle {
    border: 2px solid #d7d7d780;
    border-radius: 5px;
    position: absolute;
    top: 7px;
    bottom: 13%;
    width: 2em;
}

.cal-left-paddle {left: 0;}
.cal-right-paddle {right: 0;}
.hidden {display: none;}

.cal-item > disabled {
    cursor: no-drop !important;
}

.cal-item > h4 {
    font-weight: 900;
}

.calactive { background-color: #58c437; }
.cal-disabled { opacity: 0.6; background: #817c7a82; }
.cal-leave { opacity: 0.5; background: #817c7a82; }

.cal-leave, .cal-disabled {
    cursor: not-allowed;
}


@media (max-width: 768px) {
    .cal-menu-wrapper { height: 14vh; }
}

@media (max-width: 480px) {
    .cal-menu-wrapper { height: 14vh; }
}

@media (min-width: 1200px) {
    .cal-menu-wrapper { height: 14vh; }
}


/* col visibility */
button.dt-button.buttons-columnVisibility.active {
    background-color: #5b6e00 !important;
}
button.dt-button.buttons-columnVisibility {
    background-color: #cac4c4;
  }